body{
    text-align: center;
    background-color: black;
    margin: 30%;
    margin-top: 50%;
    margin-bottom: 50%;
    border-radius: 20px;
}
.container a{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration:line-through;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.con{
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 10px;
    margin-top: 12px;
    text-decoration: line-through;
}